<div class="wrapper__main">
    {{#if users}}
        <h2>Count users:
            <span class="count__users">{{countUsers}}</span>
        </h2>
        <div class="wrapper__users">
            {{#each users}}
                <div class="wrapper__users-item">
                    <div class="wrapper__users-item-username">
                        <span>Username:</span> 
                        <span>{{this.username}}</span>
                    </div>
                    <div class="wrapper__users-item-delete-password">
                        <span>Password:</span>
                        <span>{{this.password}}</span>
                    </div>
                    <a href="/users/edit-user-form/{{this._id}}">
                        <button class="wrapper__users-item-edit-btn">Edit</button>
                    </a>
                    <button class="wrapper__users-item-delete-btn" id="{{this._id}}">Delete</button>
                </div>
            {{/each}}
        </div>
    {{else}}
        <h2>No users ...</h2>
    {{/if}}

    {{#if loadMore}}
        <button id="loadMoreUsersBtn">Load more</button>
    {{/if}}
</div>